<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/hero.ejs %>
    <a href="/boardgames/<%=game.id%>"><button>Back</button></a>
    <div class="section">
      <div class="contatiner">
        <form
          action="/boardgames/<%=game.id%>?_method=PUT"
          method="POST"
          id="usrForm"
          class="form"
        >
          <legend>Edit Game</legend>
          <fieldset disabled>
            <div class="field">
              <label for="name" class="label is-medium">Game Title: </label>
              <div class="control">
                <input
                  type="text"
                  name="name"
                  value="<%=game.name %>"
                  class="input"
                />
              </div>
            </div>
          </fieldset>

          <div class="field">
            <label for="own" class="label is-medium">Own: </label>

            <div class="control">
              <input type="checkbox" class="checkbox" name="own" <% if(game.own
              === true){ %> checked <% } %> />
            </div>
          </div>

          <div class="field ">
            <label for="wishList" class="label is-medium">Wish List: </label>

            <div class="control">
              <input type="checkbox" class="checkbox" name="wishList" <%
              if(game.wishList === true){ %> checked <% } %> />
            </div>
          </div>

          <div class="field">
            <label for="myRating" class="checkbox label is-medium"
              >My Rating:
            </label>

            <div class="control">
              <input
                type="number"
                name="myRating"
                value="<%= game.myRating || 0%>"
                min="1"
                max="10"
                class="input is-narrow"
              />
            </div>
          </div>

          <div class="field">
            <label for="gamePlayNotes" class="label number is-medium"
              >Game Play Notes:
            </label>
            <div class="control">
              <textarea name="gamePlayNotes" form="usrForm" class="textarea">
<%=game.gamePlayNotes%></textarea
              >
            </div>
          </div>

          <input
            type="submit"
            name="submit"
            value="Done Editing"
            class="button is-success"
          />
        </form>
      </div>
    </div>
    <% include ./partials/footer.ejs %>
  </body>
</html>
