<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <nav class="hero is-primary is-bold is-small has-background">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            <a href="/boardgames" class="mainNav">Game Den</a>
          </h1>
          <h3 class="subtitle">Your personal game hoard</h3>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-8 is-vertical">
            <!--column 1-->

            <div class="tile">
              <!--inside is where the top 3 go-->
              <div class="tile is-parent">
                <div class="tile is-child box col1box1 has-text-centered">
                  <!--Column 1A-->
                </div>
              </div>

              <div class="tile is-vertical is-parent">
                <!--Column 1B-->
                <div class="tile is-child box col2box1">
                  <!--1Btop-->
                  <h2 class="title gameName"><%= game.name %></h2>
                </div>
                <div class="tile is-child box col2box2">
                  <!--1Bbtm-->
                  <p class="title"># of Players:</p>
                </div>
                <div class="tile is-child box col2box3">
                  <!--1Bbtm-->
                  <p class="title">Play time:</p>
                </div>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile is-child box widebox">
                <!--bottom wide-->
                <p class="title">Description:</p>
              </div>
            </div>
          </div>

          <div class="tile is-child box">
            <!--column 2-->
            <aside>
              <h3 class="subtitle">OWN:</h3>
              <% if (game.own === true) { %>
              <i class="fas fa-check-circle" style="color:green"></i>
              <% } else { %>
              <i class="fas fa-ban" style="color:red"></i>
              <% } %>

              <h3 class="subtitle">WISHLIST:</h3>
              <% if (game.wishList === true) { %>
              <i class="fas fa-heart" style="color:red"></i>
              <% } else { %>
              <i class="fas fa-ban" style="color:red"></i>
              <% } %>

              <h3 class="subtitle">
                MY RATING: <%= game.myRating %><i
                  class="fas fa-star"
                  style="color:yellow"
                ></i>
              </h3>

              <h3 class="subtitle">My Notes:</h3>
              <p><%= game.gamePlayNotes %></p>
              <a href="/boardgames/<%=game.id; %>/edit"
                ><button>EDIT</button></a
              >
              <form
                action="/boardgames/<%=game.id%>?_method=DELETE"
                method="POST"
              >
                <input type="submit" value="DELETE GAME" />
              </form>
            </aside>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <h6 class="design-by">
          &copy; 2019 Corey Morrison || Powered by Board Game Atlas API
        </h6>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
