<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <nav class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Game Den</h1>
        </div>
      </div>
    </nav>
    <section class="gameStats">
      <h2 class="gameName"><%= game.name %></h2>
    </section>

    <aside>
      <a href="/boardgames/<%=game.id; %>/edit"><button>EDIT</button></a>

      <h3>OWN:</h3>
      <% if (game.own === true) { %>
      <i class="fas fa-check-circle" style="color:green"></i>
      <% } else { %>
      <i class="fas fa-ban" style="color:red"></i>
      <% } %>

      <h3>WISHLIST:</h3>
      <% if (game.wishList === true) { %>
      <i class="fas fa-heart" style="color:red"></i>
      <% } else { %>
      <i class="fas fa-ban" style="color:red"></i>
      <% } %>

      <h3>
        MY RATING: <%= game.myRating %><i
          class="fas fa-star"
          style="color:yellow"
        ></i>
      </h3>

      <h3>My Notes:</h3>
      <p><%= game.gamePlayNotes %></p>

      <form action="/boardgames/<%=game.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE GAME" />
      </form>
    </aside>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
