<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
      <% include ./partials/hero.ejs %>
                  
        <section class="section card-container">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile">
              <div class="tile is-parent">
                  <div class="tile is-child">
                    </div>
                  </div>
          </div>
          <div class="tile is-8 is-vertical">
            <!--column 1-->

            <div class="tile">
              <!--inside is where the top 3 go-->
              <div class="tile is-parent">
                <div
                  class="tile is-child box col1box1 has-text-centered"
                >
                  <!--Column 1A-->
                </div>
              </div>

              <div class="tile is-vertical is-parent">
                <!--Column 1B-->
                <div class="tile is-child box col2box1 notification is-danger">
                  <!--1Btop-->
                  <h3 class="subtitle">Game Title:</h3>
                  <h2 class="title gameName is-size-2 has-text-centered is-vcentered"><%= game.name %></h2>
                </div>
                <div class="tile is-child box col2box2 notification is-info">
                  <!--1Bbtm-->
                  <h3 class="subtitle"># of Players:</h3>
                </div>
                <div class="tile is-child box col2box3 notification is-warning">
                  <!--1Bbtm-->
                  <h3 class="subtitle"># of Players:</h3>
                </div>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile is-child box widebox notification is-dark">
                <!--bottom wide-->
                <p class="title">Description:</p>
              </div>
            </div>
          </div>

          <div class="tile is-parent">
          <div class="tile is-child box">
            <!--column 2-->

            <h3 class="subtitle has-text-weight-bold ">
              OWN: <% if (game.own === true) { %>
                <span class ="icon has-text-success">
              <i class="fas fa-check-square is-success" ></i></span>
              <% } else { %>
              <i class="fas fa-ban" style="color:red"></i>
              <% } %>
            </h3>

            <h3 class="subtitle has-text-weight-bold ">
              WISHLIST: <% if (game.wishList === true) { %>
              <i class="fas fa-heart" style="color:red"></i>
              <% } else { %>
              <i class="fas fa-ban" style="color:red"></i>
              <% } %>
            </h3>

            <h3 class="subtitle has-text-weight-bold">
              MY RATING: <%= game.myRating %> <i
                class="fas fa-star"
                style="color:yellow"
              ></i>
            </h3>

            <h3 class="subtitle has-text-weight-bold">My Notes:</h3>
            <p><%= game.gamePlayNotes %></p>
          </br>
            <div class="field is-grouped">
              <div class="control">
                <a href="/boardgames/<%=game.id; %>/edit" class="button is-link"
                  >EDIT GAME</a
                >
              </div>
              <div class="control">
                <form
                  action="/boardgames/<%=game.id%>?_method=DELETE"
                  method="POST"
                >
                  <input
                    type="submit"
                    value="DELETE GAME"
                    class="button is-danger"
                  />
                </form>
              </div>
            </div>
          
          
          </div>
        </div>
          <div class="tile">
              <div class="tile is-parent">
                  <div class="tile is-child">
                    </div>
                  </div>
          </div>
        </div>
        
      </div>
        </section>
    

    <% include ./partials/footer.ejs %>
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
